@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-obsidian text-zinc-100 font-sans antialiased;
  }
  ::selection {
    @apply bg-accent/30 text-white;
  }
}

@layer utilities {
  .bg-obsidian {
    background-color: #09090B;
  }
  .text-spring-water {
    color: #00A3E0;
  }
  .border-spring-water {
    border-color: #00A3E0;
  }
  .container-px {
    @apply px-5 sm:px-8 lg:px-12;
  }
}
